<%- include("./partials/header", {title: Error}) %>

<h2>Error</h2>
<p><%= message %></p>

<% if(user==="user"){ %>
<a href="/user/home">Go Home</a>
<% }else{ %>
<a href="/admin/dashboard">Go Home</a>
<% } %>


<%- include("./partials/footer") %>

