<%- include("../partials/header",{title: "Edit user"}) %>
<a href="/admin/dashboard">Back</a>
<%- include("../partials/auth-form", {
	heading:"Edit User",
	error: error || null,
	action:`/admin/edit/${user._id}`,
	buttonText:"Update User",
	showUsername:true,
	color:"btn-danger",
	isAdminEdit:true,
	isSignup:false,
 }) %>

<%- include("../partials/footer") %>