@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
width: 360px;
background-color: rgb(255, 255, 255);
padding:45px;
box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2),
            0 5px 5px 0 rgba(0, 0, 0, 0.24)
}
.head{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}
label{
  font-size: 12px;
  margin-bottom: 5px;
}
input{
  padding: 15px;
  border: 0;
  background-color: #f2f2f2;
  outline: 0;
  margin-bottom: 3px;
}
small{
  margin-bottom: 10px;
  font-size: 11px;
}
.error-box{
    background-color:#fdecea;
    color:#b02a37;
    border:1px solid #f5c2c7;
    padding:10px;
    border-radius:6px;
    font-size:14px;
    margin-bottom:15px;
}
.success-box{
  background: #e6ffed;
  color: #1a7f37;
  border: 1px solid #1a7f37;
  padding: 10px;
   border-radius:6px;
    font-size:14px;
    margin-bottom:15px;
}

.home{
  position: relative;
  overflow: hidden;
}
.home .home-title{
  font-size: clamp(50px, 15vw, 12em);
  color: #a0584d;
  font-weight: 900;
}
.image{
  position: absolute;
  /* width: 60%; */
   width: clamp(300px, 60%, 900px);
  top: 5px;
  filter: drop-shadow(0 0 10px rgba(53, 53, 53, 0.8));
}