@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.login-page{
  width: 100%;
  height: 100vh;
}
.container{
width: 360px;
background-color: rgb(255, 255, 255);
padding:45px;
box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2),
            0 5px 5px 0 rgba(0, 0, 0, 0.24)
}
.head{
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 15px;
}
form{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 12px;
  margin-bottom: 5px;
}
input{
  padding: 15px;
  border: 0;
  margin: 0 0 15px;
  background-color: #f2f2f2;
  outline: 0;
}

