<%- include("../partials/header", {title:"Home"}) %>

<div class="home container-fluid vh-100 vw-100 d-flex align-items-center justify-content-top flex-column">
   <div class="d-flex justify-content-between vw-100 pt-4 px-4">
     <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
</svg>
<span class="fw-bold"><%= user %></span>
     </div>
     <form action="/logout" method="POST">
        <button type="submit" class="btn btn-dark">Logout</button>
    </form>
   </div>
<p class="home-title">WELCOME</p>
<img class="image" src="/images/img1.png" alt="img">
</div>
	



   



<%- include("../partials/footer") %>